apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-pvc
  namespace: portfolio
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: microk8s-hostpath
