name: CI - Portfolio Website

on:
  pull_request:

jobs:
  precommit:
    if: "!startsWith(github.event.pull_request.title, 'chore(main)')"
    uses: ./.github/workflows/precommit.yml

  django-test:
    name: Run Django Tests
    runs-on: ubuntu-latest
    needs: precommit

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django Migrations
        run: python manage.py migrate --noinput

      - name: Run Django Tests
        run: python manage.py test

  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: django-test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/portfolio-django:latest
